# Languages, Files, LOCs and LOComments, Functions

In [1]:
# import the pandas data analysis library and refer to it as pd
import pandas as pd

n_sketches_created = 14542
n_sketches_hearted = 14196
n_sketches_total = n_sketches_created + n_sketches_hearted

## General analysis

Analysis about what languages and types of files are used, how many files per sketch on avg, what diferences can be seen between popular sketches and new ones

### Created

Without --skip-uniqueness

In [2]:
# read the csv file
df_created_no_skip = pd.read_csv("../analysis/cloc/cloc_created_no_skip_unique.csv")
df_created_no_skip.set_index('language', inplace = True)
df_created_no_skip.sort_values(by=['files'], ascending=False, inplace=True)
df_created_no_skip

                files   blank  comment     code
language
SUM             16219  188494   164785  1911725
JavaScript      10911  145423   146168   936677
Arduino Sketch   4213   38810    17951   275735
HTML              862    1991      200    57084
CSS               100     405      153     2715
Text               51    1308        0   593871
GLSL               32     426      169     1219
SVG                22       1        3      466
JSON               19       7        0    21152
CSV                 4       0        0    21779
Java                1      81      123      941
Python              1      40       18       76
INI                 1       1        0        4
Markdown            1       1        0        4
Properties          1       0        0        2

With --skip-uniqueness

In [3]:
# read the csv file
df_created = pd.read_csv("../analysis/cloc/cloc_created_skip_unique.csv")
df_created.set_index('language', inplace = True)
df_created.sort_values(by=['files'], ascending=False, inplace=True)
df_created

                files   blank  comment     code
language
SUM             28367  232606   196620  2353688
JavaScript      12860  174290   175887  1109659
HTML            10241   12166      453   126201
Arduino Sketch   4572   42917    19439   309369
CSS               402     601      209     5737
Text              112    1368        0   599420
GLSL               83    1123      486     2993
SVG                37       2        5      824
JSON               25       7        0    26973
CSV                21       0        0   171449
Markdown           10      10        0       40
Java                1      81      123      941
Python              1      40       18       76
INI                 1       1        0        4
Properties          1       0        0        2

In [4]:
# avg files per sketch
df_created.at['SUM', 'files']/n_sketches_created

1.950694539953239

In [5]:
# total files not js, html or pde
total = df_created['files'][4:].sum()
print(total)

# avg other files per sketch
total/n_sketches_created

694

0.04772383441067254

In [6]:
# total files js, html or pde
total = df_created['files'][1:4].sum()
print(total)

# avg these files per sketch
total/n_sketches_created

27673

1.9029707055425664

### Hearted

Without --skip-uniqueness

In [7]:
# read the csv file
df_hearted_no_skip = pd.read_csv("../analysis/cloc/cloc_hearted_no_skip_unique.csv")
df_hearted_no_skip.set_index('language', inplace = True)
df_hearted_no_skip.sort_values(by=['files'], ascending=False, inplace=True)
df_hearted_no_skip

                files   blank  comment     code
language
SUM             19035  359313   277420  2585817
JavaScript      11119  206546   210616  1333197
Arduino Sketch   5784  119444    64690   702280
HTML             1556    3219      586    16498
GLSL              118    1680      634     4854
Text              114   26681        0   271245
SVG               102       2       49     8030
CSS                85     235       78     2049
JSON               57      19        0    49356
Java               53    1486      767     7955
CSV                38       0        0   190324
Properties          6       0        0       11
XML                 1       1        0       13
Markdown            1       0        0        4
PHP                 1       0        0        1

With --skip-uniqueness

In [8]:
# read the csv file
df_hearted = pd.read_csv("../analysis/cloc/cloc_hearted_skip_unique.csv")
df_hearted.set_index('language', inplace = True)
df_hearted.sort_values(by=['files'], ascending=False, inplace=True)
df_hearted

                files   blank  comment     code
language
SUM             28213  410405   327733  3022307
JavaScript      12220  235742   254824  1530422
HTML             8873   10793      681    68436
Arduino Sketch   6295  133002    70553   785111
GLSL              197    2023      758     6006
CSS               178     266       80     3272
Text              154   27068        0   290111
SVG               123       2       70     8367
JSON               62      21        0    86908
Java               53    1486      767     7955
CSV                46       0        0   235673
Properties          8       0        0       15
XML                 2       2        0       26
Markdown            1       0        0        4
PHP                 1       0        0        1

In [9]:
# avg files per sketch
df_hearted.at['SUM', 'files']/n_sketches_hearted

1.9873908143138912

In [10]:
# total files not js, html or pde
total = df_hearted['files'][4:].sum()
print(total)

# avg other files per sketch
total/n_sketches_hearted

825

0.058114961961115805

In [11]:
# total files js, html or pde
total = df_hearted['files'][1:4].sum()
print(total)

# avg these files per sketch
total/n_sketches_hearted

27388

1.9292758523527753

### Total

Without --skip-uniqueness

In [12]:
# read the csv file
df_total_no_skip = pd.read_csv("../analysis/cloc/cloc_all_no_skip_unique.csv")
df_total_no_skip.set_index('language', inplace = True)
df_total_no_skip.sort_values(by=['files'], ascending=False, inplace=True)
df_total_no_skip

                files   blank  comment     code
language
SUM             34353  535755   434201  4413283
JavaScript      21461  342046   350000  2201278
Arduino Sketch   9937  156764    81560   966442
HTML             2198    4900      754    71704
Text              161   27985        0   864609
CSS               161     586      223     4361
GLSL              129    1835      704     5263
SVG               124       3       52     8496
JSON               75      26        0    70070
Java               54    1567      890     8896
CSV                41       0        0   212051
Properties          6       0        0       11
Markdown            2       1        0        8
Python              1      40       18       76
XML                 1       1        0       13
INI                 1       1        0        4
PHP                 1       0        0        1

With --skip-uniqueness

In [13]:
# read the csv file
df_total = pd.read_csv("../analysis/cloc/cloc_all_skip_unique.csv")
df_total.set_index('language', inplace = True)
df_total.sort_values(by=['files'], ascending=False, inplace=True)
df_total

                files   blank  comment     code
language
SUM             56580  643011   524353  5375995
JavaScript      25080  410032   430711  2640081
HTML            19114   22959     1134   194637
Arduino Sketch  10867  175919    89992  1094480
CSS               580     867      289     9009
GLSL              280    3146     1244     8999
Text              266   28436        0   889531
SVG               160       4       75     9191
JSON               87      28        0   113881
CSV                67       0        0   407122
Java               54    1567      890     8896
Markdown           11      10        0       44
Properties          9       0        0       17
XML                 2       2        0       26
Python              1      40       18       76
INI                 1       1        0        4
PHP                 1       0        0        1

In [14]:
# avg files per sketch
df_total.at['SUM', 'files']/n_sketches_total

1.9688217690862273

In [15]:
# total files not js, html or pde
total = df_total['files'][4:].sum()
print(total)

# avg other files per sketch
total/n_sketches_total

1519

0.05285684459600529

In [16]:
# total files js, html or pde
total = df_total['files'][1:4].sum()
print(total)

# avg these files per sketch
total/n_sketches_total

55061

1.915964924490222

The grand majority of sketches dont really use external media (svg) or means of information (json, csv, xml) or styling (css, glsl -- shading lang) 
Each sketch on avg has 0.05 files of these types, compared to the 1.9 files of type js, pde or html that each sketch has.

## Per language

### Javascript

In [17]:
# read the csv file
df_javascript = pd.read_csv("../analysis/cloc/cloc_analysis_JavaScript.csv")

# view the first few rows of data
df_javascript.set_index('Group')

,total files,JavaScript files,% JavaScript files,avg JavaScript files per sketch,total loc JavaScript,avg loc per file,total comments JavaScript,avg comments per file
Group,,,,,,,,
created,28367,12860,45.33,0.884335,1109659,86.29,175887,13.68
hearted,28213,12220,43.31,0.860806,1530422,125.24,254824,20.85
total,56580,25080,44.33,0.872712,2640081,105.27,430711,17.17

### Arduino Sketch aka pde aka processing

In [18]:
# read the csv file
df_processing = pd.read_csv("../analysis/cloc/cloc_analysis_Arduino Sketch.csv")

# view the first few rows of data
df_processing.set_index('Group')

,total files,Arduino Sketch files,% Arduino Sketch files,avg Arduino Sketch files per sketch,total loc Arduino Sketch,avg loc per file,total comments Arduino Sketch,avg comments per file
Group,,,,,,,,
created,28367,4572,16.12,0.314400,309369,67.67,19439,4.25
hearted,28213,6295,22.31,0.443435,785111,124.72,70553,11.21
total,56580,10867,19.21,0.378140,1094480,100.72,89992,8.28

### HTML

In [19]:
# read the csv file
df_html = pd.read_csv("../analysis/cloc/cloc_analysis_HTML.csv")

# view the first few rows of data
df_html.set_index('Group')

,total files,HTML files,% HTML files,avg HTML files per sketch,total loc HTML,avg loc per file,total comments HTML,avg comments per file
Group,,,,,,,,
created,28367,10241,36.10,0.704236,126201,12.32,453,0.04
hearted,28213,8873,31.45,0.625035,68436,7.71,681,0.08
total,56580,19114,33.78,0.665112,194637,10.18,1134,0.06